{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    {% for book in book_list %}
        <h2>{{ book.title }}</h2>
        <p>Written by {{ book.author.name }}</p>
        <br>
    {% endfor %}
{% endblock %}
